/* 처음기본화면에서 준 속성은 그대로 유지가 돼서 똑같이 유지할 부분은 삭제가능 */
/* 처음기본화면이 아닌 범위는 그대로 유지가 안됨 */

@media screen and (min-width:1280px) and (max-width:1599px) {
    /*레이아웃*/
    header { position:relative; width:100%;  height:80px; }
    nav { width:100%; height:35px; margin-left:0%; }
    section { width:100%; position:relative; margin-left:0%; }

    /* header 컨텐츠 */
    header h1 { width:200px; height:40px; 
        background-image:url(../img/logo2.png) ; 
        top:20px;	left:20px; margin-left:0px;	}

    #gnb { top:20px; right:140px; display: flex;}
    #gnb a { padding: 8px 20px;}
    #gnb a i { margin-right:5px;}

    .snsSet { bottom:20px; right:20px; margin-right:0px;}
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    /*레이아웃*/
    header { position:relative; width:100%;  height:80px; }
    nav { width:100%; margin-left:0%; }
    section { width:100%; position:relative; margin-left:0%; }

    /* header 컨텐츠 */
    header h1 { width:200px; height:40px; 
        background-image:url(../img/logo2.png) ; 
        top:20px;	left:20px; margin-left:0px;	}

    #gnb { top:20px; right:20px; display: flex;}
    #gnb a { padding: 8px 20px;}
    #gnb a i { margin-right:5px;}

    .snsSet { bottom:20px; right:20px; margin-right:0px; display: none;}

    article:nth-child(1) { width:75%;}	
	article:nth-child(2) { width:25%;}	
	article:nth-child(3) { width:25%;}	
	article:nth-child(4) { width:25%;}	
	article:nth-child(5) { width:25%;}	
	article:nth-child(6) { width:50%;}	
	article:nth-child(7) { width:50%;}	
	article:nth-child(8) { width:25%;}	
	article:nth-child(9) { width:25%;}	
	article:nth-child(10) { width:50%;}	
	article:nth-child(11) { width:25%;}	
	article:nth-child(12) { width:25%;}

}

@media screen and (min-width:780px) and (max-width:1023px) {
     /*레이아웃*/
     header { position:relative; width:100%;  height:80px; }
     nav { width:100%; margin-left:0%; }
     section { width:100%; position:relative; margin-left:0%; }
 
     /* header 컨텐츠 */
     header h1 { width:200px; height:40px; 
         background-image:url(../img/logo2.png) ; 
         top:20px;	left:20px; margin-left:0px;	}
 
     #gnb { top:20px; right:20px; display: flex;}
     #gnb a { padding: 8px 15px;}
     #gnb a i { margin-right:5px;}
 
     .snsSet { bottom:20px; right:20px; margin-right:0px; display: none;}

     article {height: 200px;}
     article:nth-child(1) { width:100%;	height:400px;}	
	 article:nth-child(2) { width:66.6666%;}	
	 article:nth-child(3) { width:33.3333%;}	
	 article:nth-child(4) { width:33.3333%; display:none;}	
	 article:nth-child(5) { width:33.3333%;}	
	 article:nth-child(6) { width:66.6666%;}	
	 article:nth-child(7) { width:66.6666%; display:none;}	
	 article:nth-child(8) { width:33.3333%;}	
	 article:nth-child(9) { width:33.3333%;}	
	 article:nth-child(10) { width:66.6666%; display:none;}	
	 article:nth-child(11) { width:33.3333%;}	
	 article:nth-child(12) { width:33.3333%; display:none;}

}

@media screen and (min-width:640px) and (max-width:779px) {
	/*레이아웃*/
    header { position:relative; width:100%;  height:auto; }
    nav { width:100%; margin-left:0%; display: none;}
    section { width:100%; position:relative; margin-left:0%; }

    /* header 컨텐츠 */
    header h1 { width:200px; height:40px; 
    background-image:url(../img/logo2.png) ; 
    top:20px;	left:20px; margin:40px auto 20px; position: static;} /* static :oleft값이 무시됨 */

    #gnb { top:20px; right:20px; display: flex; position: static;}
    #gnb li {flex:1}
    #gnb a { padding: 15px 15px; text-align: center;}
    #gnb a i { margin-right:5px;}

    .snsSet { bottom:20px; right:20px; margin-right:0px; display: none;}

    article {height: 200px;}
    article:nth-child(1) { width:100%;	height:400px;}
	article:nth-child(2) { width:100%;}	
	article:nth-child(3) { width:33.3333%; display:none;}	
	article:nth-child(4) { width:100%;	display:none;}	
	article:nth-child(5) { width:50%;}	
	article:nth-child(6) { width:50%;}	
	article:nth-child(7) { width:66.6666%; display:none;}	
	article:nth-child(8) { width:50%;}	
	article:nth-child(9) { width:50%;}	
	article:nth-child(10) { width:66.6666%; display:none;}	
	article:nth-child(11) { width:50%;}	
	article:nth-child(12) { width:50%;}

}

@media screen and (min-width:480px) and (max-width:639px) {
	 /*레이아웃*/
     header { position:relative; width:100%;  height:auto; }
     nav { width:100%; margin-left:0%; display: none;}
     section { width:100%; position:relative; margin-left:0%; }
 
     /* header 컨텐츠 */
     header h1 { width:200px; height:40px; 
         background-image:url(../img/logo2.png) ; 
         top:20px;	left:20px; margin:40px auto 20px; position: static;} /* static : top,left값이 무시됨 */
 
     #gnb { top:20px; right:20px; display: flex; position: static;}
     #gnb li {flex:1}
     #gnb a { padding: 15px 15px; text-align: center;}
     #gnb a i { margin-right:5px; display: none;}
 
     .snsSet { bottom:20px; right:20px; margin-right:0px; display: none;}

     article { height:150px;}		
	 article:nth-child(1) { width:100%; height:300px;}		
	 article:nth-child(2) { width:100%;}	
	 article:nth-child(3) { width:33.3333%; display:none;}	
	 article:nth-child(4) { width:100%;	display:none;}	
	 article:nth-child(5) { width:50%;}	
	 article:nth-child(6) { width:50%;}	
	 article:nth-child(7) { width:66.6666%; display:none;}	
	 article:nth-child(8) { width:50%;}	
	 article:nth-child(9) { width:50%;}	
	 article:nth-child(10) { width:66.6666%; display:none;}	
	 article:nth-child(11) { width:50%;}	
	 article:nth-child(12) { width:50%;}

}

@media screen and (max-width:479px) {
	 /*레이아웃*/
     header { position:fixed; width:100%;  height:100vh; z-index: 9999; background-color: transparent;}
     nav { width:100%; margin-left:0%; display: none;}
     section { width:100%; position:relative; margin-left:0%; }
 
     /* header 컨텐츠 */
     header h1 { width:150px; height:136px; 
         background-image:url(../img/logo1.png) ; 
         top:20px;	left:20px; margin:40px auto 20px; position: static;} /* static : top,left값이 무시됨 */
 
     #gnb { position: static; width: 250px; margin: 0 auto}
     #gnb li {background-color: rgba(0,0,0,0.5); margin: 10px 0;border-radius: 10px; transition: all 0.5s;}
     #gnb li:hover {transform: scaleX(1.1); background-color: rgba(0,0,0,1);}
     #gnb a { padding: 10px 15px; text-align: left; color: #fff; text-indent: 10px;}
     #gnb a i { margin-right:5px; display: inline-block;}
 
     .snsSet { bottom:20px; right:20px; margin-right:0px; display: none;}
     
     article { display: none;}
     article:nth-child(1) { display: block; width: 100%; height: 100vh;}
     article:nth-child(1) span {display: none;}
}

